<div class="bg-red">
    <div class="container header">
        <img class="mw80" src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/logo-white.png?raw=true" alt="">
        <ul class="menu0">
            <li><a href="index.html" class="btn fz20 white">首頁</a></li>
            <li><a href="#" class="btn fz20 white">系列鏡框</a></li>
            <li><a href="shopsite.html" class="btn fz20 white">門市據點</a></li>
            <li><a href="#" class="btn fz20 white">部落格</a></li>
            <li><a href="commonquestion.html" class="btn fz20 white">常見問題</a></li>
        </ul>
    </div>
</div>