h1{
    font-size: 64px;
    font-weight: bold;
}
h2{
    font-size: 48px;
    font-weight: bold;
}
h3{
    font-size: 36px;
}
h4{
    font-size: 24px;
    font-weight: bold;
}
.fsi{
    font-style: italic;
}
.white{
    color: #fff;
}
.pink{
    color: #fbf2f2;
}
.red{
    color: #aa0601;
}
.darkred{
    color: #650300;
}
.gray{
    color: #707070;
}
.bg-white{
    background: #ffffff;
}
.bg-red{
    background: #aa0601;
}
.bg-pink{
    background: #fbf2f2;
}
.df{
    display: flex;
}
.db{
    display: block;
}
.fw{
    flex-wrap: wrap;
}
.jce{
    justify-content: end;
}
.jcc{
    justify-content: center;
}
.jcsb{
    justify-content: space-between;
}
.aic{
    align-items: center;
}
.tac{
    text-align: center;
}
.tar{
    text-align: right;
}
.tal{
    text-align: left;
}
.btn{
    text-decoration: none;
}
.fwb{
    font-weight: bold;
}
.plr12{
    padding-left: 12px;
    padding-right: 12px;
}

/*header*/
.container{
    max-width: 1296px;
    margin: 0 auto;
}
.mw80{
    max-width: 80px;
}
.w492{
    width: 492px;
}
.fz20{
    font-size: 20px;
}
.ptb16{
    padding-top: 16px;
    padding-bottom: 16px;
}
.liw0{
    width: 25%;
}

/*banner*/
.bg-img{
    background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-header.png?raw=true);
    background-size:cover;
}
.ptb296{
    padding-top: 296px;
    padding-bottom: 296px;
}
.w104{
    width: 104px;
}
.mla{
    margin-left: auto;
}
.p-btn{
    padding: 6px 12px;
}

/*introduction*/
.mw84{
    max-width: 84px;
}
.liw1{
    width: 24%;
}
.mr24{
    margin-right: 24px;
}
.mb8{
    margin-bottom: 8px;
}
.mb24{
    margin-bottom: 24px;
}
.ptb80{
    padding-top: 80px;
    padding-bottom: 80px;
}
.introduction{
    max-width: 1296px;
    margin: 0 auto;
}
.boreder-sohp{
    border: 1px solid #00000020;
}
/*category*/
.w-60{
    width: 60%;
}
.pt80{
    padding-top: 80px;
}
.pb80{
    padding-bottom: 80px;
}

/*style*/
.style{
    background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/index-bg.png?raw=true);
    background-size:cover;
}
.pb48{
    padding-bottom: 48px;
}
.stylew{
    max-width: 1296px;
    margin: 0 auto;
}
.liw3{
    width: 50%;
}
.img1{
    width: 50%;
    height: 240px;
    background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-section4-1.png?raw=true);
    background-size:cover;
}
.img2{
    width: 50%;
    height: 240px;
    background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-section4-2.png?raw=true);
    background-size:cover;
}

/*recommend*/
.fz14{
    font-family: 14px;
}
.mb72{
    margin-bottom: 72px;
}
.p16{
    padding: 16px;
}
.border{
    border: 1px solid #DEE2E6;
    box-shadow: 0px 2px 6px #00000029;
    border-radius: 5px;
}

/*contact*/
.w-80{
    width: 80%;
}
.w-100{
    width: 100%;
}
.liw2{
    width: 32%;
}
.m0atuo{
    margin: 0 auto;
}
.opacity{
    opacity: 0.2;
}
.fz16{
    font-size: 16px;
}
.opinion{
    padding-top: 6px;
    padding-left: 12px;
    padding-right: 12px;
    padding-bottom: 106px;
}
.agree{
    padding-top: 16px;
    padding-bottom: 48px;
}

/*footer*/
.mr22{
    margin-right: 22px;
}
.mt32{
    margin-top: 32px;
}
.mr32{
    margin-right: 32px;
}
.mb32{
    margin-bottom: 32px;
}
.mr48{
    margin-right: 48px;
}
.fz36{
    font-size: 36px;
}
.fz40{
    font-size: 40px;
}
.mw48{
    max-width: 48px;
}
.t-border{
    border-top: 1px solid #ffffff;
}
.footer{
    padding-top: 48px;
    padding-bottom: 32px;
}

@media(max-width: 768px) {
    .container{
        max-width: 768px;
    }
    .bg-img{
        background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-header-sm.png?raw=true);
    }
    .liw1{
        width: 48%;
    }
    .introduction{
        max-width: 416px;
    }
    .liw2{
        width: 100%;
    }
    .style{
        background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/index-bg-md.png?raw=true);
    }
    .liw3{
        width: 100%;
    }
    .stylew{
        max-width: 696px;
    }
    .mr32{
        margin-right: 16px;
    }
    .mr48{
        margin-right: 16px;
    }
    .push{
        margin-bottom: 24px;
    }
    h2{
        font-size: 48px;
    }
    h3{
        font-size: 5vmin;
    }
    
}
@media(max-width: 375px) {
    .container{
        max-width: 375px;
    }
    h1{
        font-size: 24px;
    }
    h2{
        font-size: 24px;
    }
    h3, .fz14{
        font-size: 5vmin;
    }
    .w492{
        margin-top: 16px;
        width: 100%;
        text-align: center;
    }
    .fdc{
        flex-direction: column;
    }
    .wrap{
        flex-wrap: wrap;
    }
    .w-boreder{
        border: 1px solid #ffffff;
    }
    .liw0{
        width: 50%;
    }
    .liw1{
        width: 100%;
    }
    .introduction{
        max-width: 348px;
        margin: 0 auto;
    }
    .style{
        background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/index-bg-sm.png?raw=true);
    }
    .img1{
        background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-section4-1-sm.png?raw=true);
    }
    .img2 a{
        background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-section4-2-sm.png?raw=true);
    }
    .mr32{
        margin-right: 8px;
    }
    .enlarge{
        font-size: 10vmin;
    }
    .w-60{
        width: 100%;
    }
    .mw48{
        max-width: 24px;
    }
    .fz0{
        font-size: 0px;
    }
    .row{
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
    }
    .mb32{
        margin-bottom: 0px;
    }
    .mb24{
        margin-bottom: 8px;
    }
}