.mt96{
    margin-top: 96px;
}
.mb32{
    margin-bottom: 32px;
}
.mb80{
    margin-bottom: 80px;
}
.ml312{
    margin-left: 312px;
}
.pl16{
    padding-left: 16px;
}
.pl24{
    padding-left: 24px;
}
.mw856{
    max-width: 856px;
}
.fw-bold{
    font-weight: bold;
}