
*,*:before,*:after{
  box-sizing: border-box;
}
body{
  font-family: 'Noto Sans TC', 'Roboto';
  line-height: 1.5;
}
img{
  vertical-align: middle;
  max-width: 100%;
  height: auto;
}
.btn{
  text-decoration: none;
}
.bg-red{
  background: #aa0601;
}
.white{
  color: #fff;
}
.fz20{
  font-size: 20px;
}
.border-left{
  border-left: 8px solid #aa0601;
}

.container{
  max-width: 1296px;
  margin: 0 auto;
}
.header{
  padding: 16px 12px;
  display: flex;
  justify-content: space-between;
}
@media(max-width: 375px){
  .header{
      flex-direction: column;
      padding: 0px 0px;
  }
}
/* logo size */
.mw80{
  max-width: 80px;
}
.menu0{
  width: 40%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media(max-width: 768px){
  .menu0{
      width: 60%;
  }
}
@media(max-width: 375px){
  .mw80{
      margin: 16px 12px;
  }
  .menu0{
      width: 100%;
      flex-wrap: wrap;
      justify-content: center;
  }
  .menu0 li{
      width: 50%;
      text-align: center;
      border: 1px solid #ffffff;
  }
}